<form [formGroup]='form' (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
        The username or password is invalid
    </div>
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
                <div *ngIf="username.pending">checking for uniqueness</div>
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger" >
                    <div *ngIf="username.errors.required">
                        UserName is required
                    </div>
                    <div *ngIf="username.errors.minlength">
                        min {{username.errors.minlength.requiredLength}} length is required
                    </div>
                    <div *ngIf="username.errors.cannotContainSpace">
                        UserName cannot contain space
                    </div>
                    <div *ngIf="username.errors.shouldBeUnique">
                            UserName is already taken
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger" >
                    <div *ngIf="password.errors.required">
                        password is required
                    </div>
                    <div *ngIf="password.errors.minlength">
                        min {{password.errors.minlength.requiredLength}} length is required
                    </div>
                </div>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>